* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
    padding: 0;
  }
  input:checked + label + .content {
    max-height: 2000px;
  }
  input:checked + label + .items {
    max-height: 2000px;
  }
  body {
    background-color: #464446;
  }
  .header {
    width: 100%;
    height: 60px;
    align-items: center;
    background-color: #131313;
    box-shadow: 0px 0px 15px -3px;
  }
  .header-left {
    margin-left: 20px;
    color: #F7F7F7; text-align: center;
  }
  .header-right {
    margin-right: 20px;
    color: #F7F7F7; text-align: center;
  }
  .textures {
    margin-top: 50px;
  }
  .file {
    margin-top: 10px;
    margin-left: calc(50% - 355px);
    width: 650px;
  }
  .catalog {
    list-style: none;
    width: 100%;
    margin: 20px;
    padding: 10px;
    border-radius: 10px;
    background-color: #B2B2B2;
    box-shadow: 0px 0px 15px -3px;
  }
  .items {
    background-color: #444546;
    border-radius: 10px;
    padding: 0 10px;
    line-height: 26px;
    max-height: 0;
    overflow: hidden;
    transition: 1.5s;
    text-align: left;
  }
  .column {
    list-style: none;
    margin: 20px;
    border-radius: 10px;
    background-color: #b2b2b2;
    box-shadow: 0px 0px 15px -3px;
  }
  .title {
    display: flex;
    padding: 10px;
    font-size: 150%;
  }
  input {
    display: none;
  }
  .content {
    background-color: #F7F7F7;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 0 10px;
    line-height: 26px;
    max-height: 0;
    overflow: hidden;
    transition: 1.5s;
    text-align: left;
  }
  .container {
    background-color: #B2B2B2;
    border-radius: 10px;
    display: flex;
    align-items: flex-start;
  }
  .left {
    display: flex;
    flex-direction: column;
    margin-left: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .right {
    margin-left: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .marginbottom {
    height: 20px;
    background-color: #F7F7F7;
  }