* {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin: 0;
  padding: 0;
}
input:checked + label + .items {
  max-height: 600px;
}
body {
  background-color: #0E0C0D;
}
.body {
  display: flex;
}
.header {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: center;
  align-content: center;
  background-color: #282626;
  border-bottom: solid #393737 4px;
  position: fixed;
}
.footer {
  background-color: #282626;
  width: 100%;
  height: 70px;
  margin-top: 133px;
}
.board {
  background-color: #0E0C0D;
  border-left: solid #393737 3px;
  border-right: solid #282626 3px;
  width: 1100px;
  height: auto;
  margin-top: 9%;
  margin-bottom: 100px;
  margin-left: 4%;
}
.boardbottom {
  background-color: #0E0C0D;
  width: 1100px;
  height: 100px;
}
input {
  display: none;
}
::-webkit-scrollbar {
  display: none;
}
.file {
  margin-top: 20px;
}
.labelcategory {
  font-size: 165%;
  margin-top: 9px;
  margin-left: 15px;
}
.catalog {
  margin-top: 10px;
}
.category {
  list-style: none;
  margin-top: 10px;
}
.categoryicon {
  background-color: #0475D4;
  border-top: solid #0692E3 8px;
  border-bottom: solid #084CAC 8px;
  height: 50px;
  width: auto;
  margin-left: 15%;
  margin-right: 15%;
}
.items {
  max-height: 0;
  overflow: hidden;
  transition: 1s;
}
.preview {
  margin: 10px;
  padding: 0;
  height: 230px;
  width: 230px;
}
.container {
  margin-top: 15px;
  margin-left: 2%;
  margin-right: 2%;
  display: flex;
}
.containerside {
  width: 20px;
  background-color: #0475D4;
  border-top: solid #0692E3 8px;
  border-bottom: solid #084CAC 8px;
}
.selection {
  background-color: #282626;
  height: auto;
  width: 250px;
}
.information {
  background-color: #0E0C0D;
  color: white;
  height: 249px;
  width: 790px;
  border-top: solid #393737 3px;
  border-left: solid #393737 3px;
  border-right: solid #282626 3px;
  border-bottom: solid #282626 3px;
}
.packtitle {
  margin: 10px;
}
.packinfo {
  margin: 10px;
  margin-left: 50px;
}
.packs {
  background-color: #0E0C0D;
  height: 235px;
  width: 105px;
  border-top: solid #282626 10px;
  border-bottom: solid #282626 10px;
  overflow-y: scroll;
  overflow-x: hidden;
}
.packicon {
  width: 90px;
}
.downloads {
  margin-left: 80%;
  margin-top: 9%;
  position: fixed;
}
.linkicon {
  margin-top: 30px;
  width: 200px;
  margin-left: 24px;
}
.linkheader {
  background-color: #0475D4;
  width: 250px;
  height: 20px;
  border-top: solid #0692E3 6px;
  border-bottom: solid #084CAC 6px;
}
.linkcontainer {
  background-color: #282626;
  width: 250px;
  height: 320px;
}
.link {
  background-color: #0475D4;
  width: 150px;
  height: 30px;
  margin-left: 48px;
  border-top: solid #0692E3 6px;
  border-bottom: solid #084CAC 6px;
}
.linkstyle {
  color: black;
  text-decoration: none;
}
.linklabel {
  font-size: 130%;
  margin-top: 3px;
  margin-left: 30px;
}